.HighlightsInfo {
    width: 600px;
    height: 600px;
    background: linear-gradient(333deg, rgba(3, 0, 50, 1) 0%, rgba(7, 7, 43, 1) 35%, rgba(5, 10, 41, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#030032", endColorstr="#050a29", GradientType=1);   
     padding: 2rem;
    overflow-y: scroll;
}

.HighlightsInfo p {
    line-height: 28px;
}

@media (max-width: 601px) {
    .HighlightsInfo {
        width: 100%;
    }
}