.HighlightsInfo {
    width: 600px;
    height: 600px;
    padding: 2rem;
}

.HighlightsInfo .button-wrapper button:first-child {
    margin-right: 1rem;
}

.highlights-info-wrapper {
    height: 600px;
    overflow-y: scroll;
}

.HighlightsInfo p {
    line-height: 28px;
}

@media (max-width: 601px) {
    .HighlightsInfo {
        width: 100%;
    }
}