.button {
    color: white;
    padding: .75rem 1.75rem;
    border-radius: 5px;
    border: 0;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

.light-button {
    background: #1CD8D2;
    background: linear-gradient(to right, #93EDC7, #1CD8D2);
}

.dark-button {
    background: #000f5f;
    background: linear-gradient(to right, #010093, #000f5f);
}